.Collection h1 {
	text-align: center;
}

.Collection p {
	text-align: center;
}

.Collection .button {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Collection .button:hover {
    background-color: #cc0000;
}